.educationWrapper {
  width: 100%;
  display: inline-flex;
  flex-direction: column;

  div {
    display: flex;
    gap: 20px;
    margin: auto;
    align-items: center;
  }
  .degree {
    width: 103px;
    display: flex;
    position: relative;
    top: -8px;
  }

  .details {
    width: 200px;
  }
  .marks {
    width: 50px;
    position: relative;
    top: -8px;
  }
}
